.sidebar_container {
    padding: 8px;

    width: 145px;
    height: calc(100vh - 45.25px);
    background-color: var(--background-white);
}

.group_text {
    font-size: 14px;
    color: gray;
    text-align: center;
}